<!DOCTYPE html>
<html>
<body>

<h1>Welcome to Blog!</h1>
<form action="verification" method="POST">
    <label for="userName">User name:</label><br>
    <input type="text" id="userName" name="userName" required><br>
    <br>
    <label for="password">Password:</label><br>
    <input type="text" id="password" name="password" required><br>
    <br>
    <input type="submit" value="login"><br>

</form>

<p>If you are not already registered, please <a href="/registration">click here</a> to register</p>

</body>
</html>
