<!DOCTYPE html>
<html>
 <body>

<p>Enter the following details to create an account</p>

<form action="/">
    <label for="fname">First name:</label>
    <input type="text" id="fname" name="fname"><br>
    <br>
    <label for="lname">Last name:</label>
    <input type="text" id="lname" name="lname"><br>
    <br>
    <label for="userName">Username:</label>
    <input type="text" id="userName" name="userName"><br>
    <br>
    <label for="password">Password:</label>
    <input type="text" id="password" name="password"><br>
    <br>
    <label for="cpassword">Confirm Password:</label>
    <input type="text" id="cpassword" name="cpassword"><br>
    <br>
    <label for="email">Email:</label>
    <input type="text" id="email" name="email"><br>
    <br>
    <label for="phoneNo">Phone No.:</label>
    <input type="number" id="phoneNo" name="phoneNo"><br>
    <br>
    <input type="submit" value="Submit"><br>
    <br>

</form


..< !-- link to login page -->
    <a href =" /index"> Go back to Login Here!</a>

  </body>
</html>
