<h1>Please enter the code sent to your email or phone number</h1>

<form action="/home" method="POST">
    <label for="token">OTP:</label><br>
    <input type="number" id="token" name="token"><br>
    <input type="submit" value="submit"><br>
